$color-white: #fff;
$color-blue: #0f70b7;
$color-blue-light: #3caeff;
$color-grey: #716f70;
$color-grey-light: #979797;
$color-black: #000;

$default-font-size: 1.4rem;

$space-vertical: 8rem;
$space-horizontal: 4rem;