body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    padding: 3rem;
}

.heading-secondary {
    width: 100%;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    background-image: linear-gradient(to right, $color-blue-light, $color-black);
    -webkit-background-clip: text; //applied color only on text 
    color: transparent; //make default text color transparent
    letter-spacing: .8rem;
    transition: 2s;
    text-align: center;
    padding: 3rem 0;
}

.heading-tertiary{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-blue, $color-black);
    -webkit-background-clip: text; //applied color only on text 
    color: transparent; //make default text color transparent
    letter-spacing: .5rem;
    transition: 2s;
    text-align: center;
    padding: 2rem 0;
}